@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

body {
    background-color: #000;
    color: white;
}

#area {
    width: 100%;
    height: 100vh;
    display: flex;  
    justify-content: center;
    align-items: center;
}

#relogio {
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 5em;
}

#inputs {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0 15px 15px 0;
}

#inputs input {
    margin-left: 20px;
}
